<% if (locals.errors) {%>
    <ul>
      <% errors.forEach(function(error) { %>
        <li class="errors">Error: <%= error.msg %></li>
      <% }); %>
    </ul>
<% } %>
<% if (locals.message) {%>
    <ul>
        <li <% if(locals.message === 'Success') { %> class='error-message success'  <%} %>class="error-message"><%= message %></li>
    </ul>
<% } %>
<% if (locals.validation) {%>
  <ul>
    <% validation.forEach(function(error) { %>
      <li class="errors"><%= error %></li>
    <% }); %>
  </ul>
<% } %>