<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/Navbar.ejs') %>
    <br>
    <%- include("partials/errors.ejs") %>
    <form action="/devs/add" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="dev_name">
        </div>
        <div>
            <label for="date">Founding Year: </label>
            <input type="number" min="1900" max="2099" step="1" value="2016" name="dev_year">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>