main {
    font-family: 'Farro';
    padding: 1rem 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.devs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 3rem;
    column-gap: 0.8rem;
}

h1 {
    font-size: max(1.3rem, 3.5vw);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > a {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    transition: transform 300ms ease;
}

.header > a svg {
    width: max(1rem, 3vw);
}

.header > a:hover {
    background-color: rgb(243, 150, 150);
    transform: scale(1.1);
}

.dev:hover {
    transform: scale(1.1);
}

.devs svg {
    width: 2.5rem;
}

.dev {
    box-shadow: 1px 1px 5px 1px #808080a3;
    gap: 1rem;
    display: flex;
    align-items: center;
    transition: transform 300ms ease;
}

.dev-name {
    flex: 1;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.edit {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 8px;
}

.edit:hover {
    background-color: rgb(255, 0, 0);
}

.devs > div img {
    width: 85px;
    aspect-ratio: 1/1;
    object-fit: contain;
    box-shadow: 1px 2px 6px 3px grey;
}

.dev:hover {
    box-shadow: 0px 0px 7px 6px red;
}

.devs > div > a > .no-image {
    border: 2px solid black;
}


@media (max-width: 768px) {
    .devs {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .dev-name {
        font-size: 1.3rem;
    }

}